<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="aqdemo" parallel="methods" thread-count="4">
	<test name="Demo1">
		<classes>
			<class name="com.trivadis.aqdemo.tests.SinglePrintTextServiceDemo" />
		</classes>
	</test>
	<test name="Demo2">
		<classes>
			<class name="com.trivadis.aqdemo.tests.MultiPrintTextServiceDemo" />
		</classes>
	</test>
	<test name="Demo3">
		<classes>
			<class name="com.trivadis.aqdemo.tests.BlockingSlowPrintTextServiceDemo" />
		</classes>
	</test>
	<test name="Demo4">
		<classes>
			<class name="com.trivadis.aqdemo.tests.NonBlockingSlowPrintTextServiceDemo" />
		</classes>
	</test>
	<test name="Demo5">
		<classes>
			<class name="com.trivadis.aqdemo.tests.AsyncPrimeFactorizationServiceDemo" />
		</classes>
	</test>
	<test name="Demo6">
		<classes>
			<class name="com.trivadis.aqdemo.tests.SyncPrimeFactorizationServiceDemo" />
		</classes>
	</test>
</suite>
