<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.trivadis.aqdemo" />

	<!-- ========================================================================== -->
	<!-- override default configuration in AppConfig.java -->
	<!-- ========================================================================== -->

	<bean id="aqUrl" class="java.lang.String">
		<constructor-arg value="jdbc:oracle:thin:@titisee.trivadis.com:1521/phspdb2" />
	</bean>

	<bean id="aqUserName" class="java.lang.String">
		<constructor-arg value="aqdemo" />
	</bean>

	<bean id="aqPassword" class="java.lang.String">
		<constructor-arg value="aqdemo" />
	</bean>

	<bean id="concurrency" class="java.lang.String">
		<constructor-arg value="1-4" />
	</bean>
</beans>